@tailwind base;
@tailwind components;
@tailwind utilities;

.suspense-loading-icon {
  animation-name: suspense-loading-icon;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes suspense-loading-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
